---
Language: Cpp
BasedOnStyle: Google
Standard: Latest
UseTab: Never
TabWidth: 2
ColumnLimit: 140
DerivePointerAlignment: false
PointerAlignment: Right # auto &ref, auto *ptr
QualifierAlignment: Right # auto const
PackConstructorInitializers: Never
...
